<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1> Customers </h1>
        </div>
    </div>
    <a th:href="@{/edit-add-customer}">
        <button type="button" class="btn btn-success">Add Customer</button>
    </a>
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Company Name</th>
                </tr>
                </thead>
                <tbody>
                    
                <tr th:if="${customers.empty}">
                    <td colspan="2"> No Custtomer Available</td>
                </tr>

                <tr th:each="customer : ${customers}">
                    <td><span th:text="${customer.id}"> Id </span></td>
                    <td><span th:text="${customer.first_name}"> first_name </span></td>
                    <td><span th:text="${customer.last_name}"> last_name </span></td>
                    <td><span th:text="${customer.email}"> email </span></td>
                    <td><span th:text="${customer.companyName}"> Company Name </span></td>
                    
                    <td>
                        <a th:href="@{/delete-customer/{id}(id=${customer.id})}">
                            <button type="button" class="btn btn-danger">Delete</button>
                        </a>
                        <a th:href="@{/edit-add-customer/{id}(id=${customer.id})}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>